{
  "extends": "standard",
  "rules": {
    "no-console": ["error"],
    "lines-between-class-members": ["error", "always"],
    "quotes": ["warn","double"],
    "space-in-parens": ["warn","never"],
    "array-bracket-spacing": ["warn","never"],
    "computed-property-spacing": ["warn","never"],
    "func-names": ["warn", "never"],
    "one-var-declaration-per-line": ["warn","initializations"],
    "semi": ["error","always",{
      "omitLastInOneLineBlock": false
    }],
    "one-var": ["warn",{
      "initialized": "never",
      "uninitialized": "always"
    }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }]
  },
  "parser": "babel-eslint"
}